@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500;600;700&family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Edu QLD Beginner', cursive; */
    font-family: 'Raleway', sans-serif;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 9vh;
    border-bottom: 1px solid #ddd;
}

header nav .logo{
    font-size: 2rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    /* background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #eba031, #e64270);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

